html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.content {
  padding-top: 10px;
  transform: translate3d(50%, 0, 0);
  text-align: left;
  background: white;
  color: black;
  padding: 10px 15px;
  border-radius: 5px;
}

@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url(./fonts/Nunito-Regular.ttf) format('truetype');
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:regular,bold,italic&subset=latin,latin-ext');